@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $Demi
	overflow-x: hidden
	opacity: 1
	color: #fff

.img-responsive
	display: block
	max-width: 100%
	height: auto
a:hover,
a:active,
a:visited,
a:link,
a:focus
	text-decoration: none
h1
	font-size: 44px
	line-height: 59.4px
h2
	font-size: 24px
	line-height: 32.4px
h3
	font-size: 44px
	line-height: 59.4px
	font-family: $Demi
p
	font-size: 24px
	line-height: 32.4px
	color: $Text
	font-family: $Book
ul
	padding-left: 0
.button-to
	padding: 10px 100px 10px 38px
	background-color: $square
	display: inline-block
	width: 260px
	a
		color: #fff
		font-size: 24px
		font-family: $Book
		white-space: nowrap
.principaly-line
	width: 60px
	height: 4px
	background-color: #FF8F44
.dots
	font-size: 0
	.dot
		width: 14px
		height: 14px
		background: $square
		display: inline-block
		margin-right: 16px
		cursor: pointer
		&:last-child
			margin-right: 0

.cart-line
	width: 40px
	height: 4px
	background: $square

.wrapper-content
	&::after
		content: ''
		clear: both
		display: table
.left-content
	float: left
	width: 338px
.right-content	
	float: right
	width: calc(100% - 338px)
aside.left-aside
	padding-top: 61px
	background-color: $accent
	.logo-aside
		text-align: right
		padding-right: 20%
		padding-bottom: 50px
	.logo-aside__img
		width: 130px
	nav.aside-menu
		ul
			list-style-type: none
			padding-left: 0
		li
			pading: 15px 0
			&:hover
				background-color: #025C78
			&:last-child a 
				border-bottom: none
		a
			font-size: 20px
			color: #fff
			width: 100%
			display: block
			line-height: 1
			margin-left: 42%
			padding: 30px 0
			border-bottom: 1px solid #fff
header.header
	.header-top
		border-bottom: 1px solid #95989A
		border-top: 1px solid #95989A
		text-align: right
		padding: 15px 0
	.top-phone__text
		font-family: $Demi
		font-size: 22px
		color: $accent
		display: inline-block
		vertical-align: middle
	.top-phone__icon
		width: 30px
		height: 30px
		display: inline-block
		vertical-align: middle
		margin-right: 10px
	.header-top__phone
		display: inline-block
		margin-right: 30px
	.header-top__cart
		display: inline-block 
		margin-right: 90px
		img
			width: 30px
			height: 30px

.header-content
	padding-top: 160px
	padding-bottom: 160px
	padding-left: 6.5%
	&::after
		content: ''
		clear: both
		display: block
	.header-content__image
		img
			width: 400px
	.content-square
		width: 400px
		height: 260px
		border: 8px solid #ff962b
		position: absolute
		z-index: 3
		margin-left: 7.5%
		margin-top: -7.5%
	.header-content__image
		width: 400px
		height: 350px
		position: relative
	.content-image
		position: absolute
		top: 0
		left: 0
		z-index: 2
	.content-image__opacity
		position: absolute
		z-index: 1
		left: 16%
		margin-top: 12%
		img
			opacity: 0.6
	.header-content__image
		float: left
		width: 400px
		margin-right: 40px
	.header-content__text
		float: right
		width: calc(100% - 470px)
		padding-left: 30px
		h1
			color: $accent
		p
			width: 80%
			font-size: 24px
			font-family: $Book
			color: #2A2C2E


section.performances
	background-color: $accent
	margin-top: 40px
	padding-bottom: 50px
	.performances-items
		padding-top: 66px
		width: 80%
		margin: 0 auto
		&::after
			content: ''
			clear: both
			display: block
	.performances-item
		text-align: center
		width: 33.3%
		float: left
		.performances-item__img
			padding-bottom: 50px
			img 
				width: 130px
				height: 130px
		.performances-item__title
			font-size: 24px
			font-family: $Demi
			text-transform: uppercase
			line-height: 32.4px
			min-height: 64px
			max-height: 64px
			overflow: hidden
			padding-bottom: 20px
section.principaly-products__one
	padding-bottom: 70px
	.principaly-product__container
		padding-top: 60px
		padding-left: 6.5%
		h3
			color: $accent
			margin: 0
			margin-top: 25px
			margin-bottom: 35px
	.principaly-product__content
		width: 950px
		&::after
			content: ''
			clear: both
			display: block
		.principaly-product__left
			float: left
			width: 50%
		ul
			margin: 0
		li
			padding-bottom: 25px
		.principaly-product__right
			float: right
			width: 50%
			margin-top: 32px
			.right-square
				width: 260px
				height: 348px
				border: 8px solid $square
				position: absolute
				z-index: 2
				left: 32px
				bottom: 32px
		.product-list__icon 
			display: inline-block
			padding-right: 40px
			img
				width: 60px
				height: 60px
		.product-list__text
			display: inline-block
			color: $Text
			font-family: $Book
			font-size: 24px
		.product-left__text
			max-height: 150px
			overflow: hidden
			p
				margin-top: 15px
				line-height: 34.2px
		.product-right__image
			position: relative
			width: 260px
			height: 348px
			margin-bottom: 60px
			.right-image
				position: absolute
				top: 0
				left: 0
	.right-text
		position: absolute
		z-index: 3
		left: 70px
		bottom: 50px
		.product-right__title h3
			color: #fff
			margin-bottom: 0
		.product-right__descr
			font-size: 24px
			font-family: $Demi
			line-height: 32.4px
	.right-sale
		width: 260px
		margin-top: 20px
		.right-sale__text
			font-size: 24px
			color: $Text
			line-height: 32.4px
			font-family: $Book
		.right-sale__icon
			img
				width: 43px
				height: 40px


section.principaly-products__two
	background: #F8F8F8
	padding-bottom: 70px
	.principaly-product__content
		width: 950px
		padding-left: 32px
	.principaly-product__container
		padding-top: 60px
		padding-left: 6.5%
		.principaly-product__line
			width: 60px
			height: 4px
			background-color: #FF8F44
		h3
			color: $accent
			margin: 0
			margin-top: 25px
			margin-bottom: 35px
	.principaly-product__content
		&::after
			content: ''
			clear: both
			display: block
		.principaly-product__left
			float: left
			margin-top: 32px
			width: 40%
		ul
			margin: 0
		li
			padding-bottom: 25px
		.principaly-product__right
			float: right
			width: 60%
		.left-square
			width: 260px
			height: 348px
			border: 8px solid $square
			position: absolute
			z-index: 2
			left: -32px
			bottom: 32px
		.product-list__icon 
			display: inline-block
			padding-right: 40px
			img
				width: 60px
				height: 60px
		.product-list__text
			display: inline-block
			color: $Text
			font-family: $Book
			font-size: 24px
		.product-right__text
			width: 90%
			max-height: 150px
			overflow: hidden
			p
				margin-top: 15px
				line-height: 34.2px
		.product-left__image
			position: relative
			width: 260px
			height: 348px
			margin-bottom: 67px
			.left-image
				position: absolute
				top: 0
				left: 0
				width: 260px
				height: 348px
				overflow: hidden
	.left-text
		position: absolute
		z-index: 3
		left: 50px
		bottom: 50px
		.product-left__title h3
			color: #fff
			margin-bottom: 0
		.product-left__descr
			font-size: 24px
			font-family: $Demi
			line-height: 32.4px
	.left-sale
		width: 260px
		margin-top: 20px
		.left-sale__text
			font-size: 24px
			color: $Text
			line-height: 32.4px
			font-family: $Book
		.left-sale__icon
			img
				width: 43px
				height: 40px

section.examples-work
	width: 100%
	background: url('../img/ex-bg.png') no-repeat center
	background-size: cover
	position: relative
	&::after
		content: ''
		position: absolute
		background-color: $accent
		top: 0
		right: 0
		left: 0
		bottom: 0
		opacity: 0.8
		z-index: 2
	.examples-work__content
		position: relative
		z-index: 3
		padding-left: 6.5%
		padding-top: 60px
		padding-right: 60px
		width: 865px
	.examples-work__title h3
		margin-bottom: 20px
	.examples-work__items
		padding-bottom: 60px
		&::after
			content: ''
			clear: both
			display: block
	.examples__work__left
		width: 52%
		margin-right: 3%
		float: left
	.examples-image__big
		overflow: hidden
		max-height: 550px
		overflow: hidden
	.examples-work__right
		float: right
		width: 45%
		.ex-right__content
			&::after
				content: ''
				clear: both
				display: block
		.ex-content__left
			float: left
			width: 48%
			margin-right: 2%
		.ex-content__right
			float: right
			width: 48%
			margin-left: 2%
		.ex-content__img
			width: 174px
			height: 174px
			overflow: hidden
			margin-bottom: 13px
			cursor: pointer
			img
				width: 174px
				height: 174px
				object-fit: cover
		.ex-content__all
			width: 174px
			height: 174px
			background-color: #FF9336
			padding-left: 20%
			padding-top: 25%
			span
				font-size: 24px
				font-family: $Book
				line-height: 32.4px
				color: #fff
section.sertificats
	padding-left: 6.5%
	padding-top: 66px
	padding-bottom: 120px
	h3
		color: $accent
	.sertificats-content
		&::after
			content: ''
			clear: both
			display: block
	.sertificats-left
		float: left
		width: 50%
		.sertificats-paragraph
			&:first-child
				margin-top: 0
	.sertificats-right
		float: right
		width: 50%
	.sertificats-right__content
		position: relative
		height: 348px
	.sertificats-right__square
		height: 348px
		width: 260px
		border: 8px solid $square
		position: absolute
		left: 35px
		top: 35px
		z-index: 1
	.sertificats-right__images
		position: absolute
		z-index: 2
		bottom: 0
		left: 0
		img
			position: absolute
			left: 0
			bottom: 0 
	.sertificats-right__dots
		position: absolute
		bottom: -22px
		right: 50%
		margin-right: 37px
		z-index: 3

section.reviews
	padding-top: 96px
	padding-left: 6.5%
	padding-right: 100px
	padding-bottom: 100px
	.reviews-title
		margin-bottom: 60px
	h3
		color: $accent 
		margin-top: 20px
	.reviews-all
		position: relative
		height: 400px
	.reviews-container
		margin-top: 30px
		padding: 10px 65px 10px 0
		border: 8px solid $square
		position: absolute
		top: 0
		left: 0
		height: 370px
		&::after
			content: ''
			clear: both
			display: block
		&:nth-child(2),
		&:nth-child(3)
			display: none
	.reviews-container__left
		float: left
		width: 30%
	.reviews-container__right
		float: right
		width: 68%
		padding-left: 2%
	.reviews-image
		width: 260px
		height: 348px
		overflow: hidden
		img
			width: 260px
			height: 348px
			object-fit: cover
	.reviews-dots
		text-align: center
		margin-top: 10px
	.reviews-image
		position: relative
		margin-left: -32px
		margin-top: -42px
	.reviews-author__name
		font-size: 24px
		font-family: $Demi
		color: $Text
	.author-vk__icon img
		width: 30px
		height: 30px
		vertical-align: middle
	.author-vk__link
		font-family: $Book
		font-size: 24px
		color: $Text
		vertical-align: middle
		padding-left: 15px
	.reviews-author__text p
		font-family: $Book

section.delivery
	padding-left: 6.5%
	padding-right: 100px
	h3
		color: $accent
		font-family: $Demi
.delivery-content
	&::after
		content: ''
		clear: both
		display: block
.delivery-content__left
	float: left
	width: 6%
	margin-right: 4%
	ul
		margin-top: 0
		list-style-type: none
	li,
	img
		width: 60px
		height: 60px
	li
		margin-bottom: 25px
		&:last-child
			margin-bottom: 0
.delivery-content__right
	float: right
	width: 90%
	background: #F7F7F7

	ul
		margin-top: 0
		list-style-type: none
		margin-bottom: 0
	li
		font-size: 24px
		font-family: $Book
		color: $Text
		padding-left: 20px
		padding-bottom: 30px
		padding-top: 11px
		&:last-child
			margin-bottom: 0
			padding-bottom: 14px
	li.last-delivery-text
		display: inline-block
		padding-right: 20%
	.delivery-detail
		display: inline-block
		span
			padding-right: 20px
			&:last-child
				padding-right: 0	
	img
		width: 60px
	span
		font-size: 24px
		font-family: $Book
		color: $Text
footer
	.top-ftr
		background: $accent
		padding-left: 6.5%
		padding-top: 50px
		padding-bottom: 60px
	.ftr-title
		padding-bottom: 30px
		h3
			margin-bottom: 0
			margin-top: 10px
	.top-ftr__content
		&::after
			content: ''
			clear: both
			display: block
	.top-ftr__left
		float: left
		width: 30%
		padding-right: 5%
	.top-ftr__right
		float: right
		width: 65%
.maps
	height: 344px
.ftr-right__contacts
	padding-top: 25px
	ul
		list-style-type: none
		padding: 0
		margin: 0
		&:first-child
			li
				vertical-align: top
			li:last-child
				width: 80%
	li
		padding-bottom: 15px
		font-family: $Book
		font-size: 24px
		line-height: 32.4px
		display: inline-block
		padding-right: 20px
		&:last-child
			padding-right: 0
	img
		width: 30px
.bottom-ftr
	background-color: #FFF
	padding: 10px 0
	text-align: center
	span
		color: #000
		font-family: $Book
		font-size: 24px
	img
		width: 30px


form#footer-form
	input
		width: 260px
		height: 45px
		border: 1px solid #fff
		margin-bottom: 10px
		padding-left: 20px
		font-size: 18px
		font-family: $Book
		color: #fff
		background: none
		outline: none
		@include placeholder
			font-size: 18px
			font-family: $Book
			color: #fff
	textarea
		width: 260px
		border: 1px solid #fff
		margin-bottom: 10px
		padding-left: 20px
		font-size: 18px
		font-family: $Book
		color: #fff
		background: none
		height: 223px
		outline: none
		@include placeholder
			font-size: 18px
			font-family: $Book
			color: #fff




// ===================== Стили для страницы продуктов ==================== //

section.header-section__category
	padding: 66px 100px 66px 66px
	h3
		color: $accent
		margin-bottom: 0
	.header-category__title
		color: $accent
		font-size: 24px
		font-family: $Demi
		margin-bottom: 20px
		margin-top: 15px
	.header-all__category
		&::after
			content: ''
			clear: both
			display: block
	.header-category__container
		float: left
		width: 31%
		margin-right: 3%
		&:last-child
			margin-right: 0
	.header-category__image
		width: 260px
		height: 300px
		overflow: hidden
		img
			object-fit: cover
	.header-section__description
		padding-bottom: 30px
		p:first-child
			height: 30px
			overflow: hidden
		p:last-child 
			text-align: right
			width: 65%
			img
				width: 40px
	.header-category__button
		width: 260px
		height: 50px
		text-align: center
		vertical-align: middle
		background: $square
		font-size: 24px
		font-family: $Book
		color: #fff

section.principaly-products__catalog
	.right-category__text
		font-family: $Book
		font-size: 24px
		line-height: 32.4px
		color: $Text
		width: 80%
	.product-left__text
		font-size: 24px
		font-family: $Book
		color: $Text
		line-height: 32.4px
		img
			width: 40px


section.products
	padding-left: 6.5%
	padding-top: 66px
	margin-right: 100px
	.products-all
		&::after
			content: ''
			clear: both
			display: block

.product-container
	background: #F7F7F7
	padding-left: 25px
	float: left
	width: 48%
	margin-right: 2%
	margin-bottom: 60px
	&:last-child
		margin-right: 0
		margin-left: 2%
	&::after
		content: ''
		clear: both
		display: block
	.product-container__left
		float: left
		width: 60%
		margin-right: 2%
		padding-top: 35px
	.product-container__right
		float: right
		width: 38%
	.product-title,
	.product-price
		font-size: 24px	
		color: $Text
		font-family: $Book
		h2
			margin-bottom: 0
			margin-top: 0
	.product-title
		height: 37px
		overflow: hidden
	ul
		list-style-type: none
	li
		padding-bottom: 15px
		&:last-child
			padding-bottom: 0
	img
		width: 30px
	span.product-dtls__text
		color: #000
		font-family: $Book
		font-size: 14px
		padding-left: 15px
	.product-image
		border: 4px solid $square
		width: 123px
		height: 123px
		overflow: hidden
		position: relative
		margin-top: -35px
		img
			width: 100%
			object-fit: cover
	.select-color
		color: #000
		font-family: $Book
		font-size: 14px
		.select-color__title
			color: #000
			font-family: $Book
			font-size: 20px
			padding-top: 10px
	.color-gry,
	.color-red,
	.color-var
		width: 16px
		height: 16px
	.color-gry
		background: #95989A
	.color-red
		background: #944B44
	.color-var
		background: #0084B6
	.color-select
		div
			display: inline-block
			vertical-align: middle
	.to-cart
		width: 123px
		height: 32px
		background-color: $square
		text-align: center
		margin-top: 10px
		a
			color: #000
			text-align: center
			font-size: 14px

section.catalog-bottom
	.product-container
		width: auto
		position: relative
		padding-right: 10px
		.to-cart
			position: absolute
			bottom: 30px
			right: 20px
	.principaly-product__content
		.principaly-product__right
			margin-top: 0
	.product-right__button
		clear: both
		font-size: 24px
		font-family: $Book
		color: $Text
		line-height: 32.4px
		width: 80%
	.product-left__dtls
		padding-top: 30px
	.select-color
		padding-top: 25px

section.additional-work
	padding-left: 6.5%
	padding-top: 66px
	padding-right: 100px
	padding-bottom: 50px
	h3
		color: $accent
		padding-bottom: 40px
		margin-top: 0
	.additional-work__products
		&::after
			content: ''
			clear: both
			display: block
	.product-container
		position: relative
		padding-right: 10px
		.to-cart
			position: absolute
			bottom: 10px
			right: 20px
	.principaly-product__content
		.principaly-product__right
			margin-top: 0
	.product-right__button
		clear: both
		font-size: 24px
		font-family: $Book
		color: $Text
		line-height: 32.4px
		width: 80%
	li
		width: 400px
	.additional-work__bottom
		margin-top: 120px
		&::after
			content: ''
			clear: both
			display: block
		.additional-work__container
			float: left
			width: 49%
			margin-right: 2%
			&:last-child
				margin-right: 0
			.additional-product__container
				width: 100%
				float: none
	.additional-examples
		font-family: $Book
		font-size: 24px
		color: $Text
		line-height: 32.4px
		img
			width: 40px
	.product-container
		margin-bottom: 30px

section.examples-works
	padding-left: 6.5%
	padding-top: 66px
	padding-right: 100px
	padding-bottom: 80px
	h3
		color: $accent
		margin-bottom: 0
	.examples-work__paragraph	
		color: #000709
		font-size: 24px
		line-height: 32.4px
		font-family: $Book
		height: 32px
		overflow: hidden
	.examples-work__container
		margin-top: 115px
		&::after
			content: ''
			clear: both
			display: block
	.examples-container__left
		float: left
		width: 30%
		margin-right: 5%
	.examples-container__right
		float: right
		width: 65%
		position: relative
		height: 360px
	img
		width: 560px
		height: 360px
		object-fit: cover
	.examples-work__icon img
		width: 40px
	.examples-right__square
		width: 560px
		height: 360px
		border: 8px solid $square
		position: absolute
		z-index: 2
		top: -30px
		left: -35px
	.examples-right__image
		position: absolute
		z-index: 1
		top: 0
		left: 0
	.examples-work__line
		width: 40px
		height: 4px
		background: $square
	.examples-work__number
		font-family: $Demi
		font-size: 44px
		color: $accent
	.examples-work__icon
		img
			width: 40px
			height: 40px
	.examples-work__description
		p
			margin: 0
	
	.examples-work__right
		.examples-container__left
			position: relative
			width: 65%
			margin-right: 0
			margin-left: 1%
			height: 360px
		.examples-container__right
			width: 30%
section.delivery-page
	padding: 66px 100px 100px 66px
	h3
		color: $accent
		margin-bottom: 0
	.delivery-paragraph
		height: 32px
		overflow: hidden
	p
		margin-top: 0
	.delivery-content
		margin-top: 60px
		li
			padding-bottom: 47px;
			height: 70px;
			padding-top: 10px;
			overflow: hidden;
			line-height: 30px;
			margin-bottom: 12px;

section.contacts
	padding: 66px 100px 66px 66px
	h3
		color: $accent
		margin: 0
		margin-top: 10px
	.ftr-right__contacts
		color: $Text
body.contacts
	footer 
		.top-ftr__right
			display: none

section.cart
	padding: 66px 100px 66px 66px
	h3
		color: $accent
		margin-top: 10px
		margin-bottom: 10px
	.cart-item
		width: 620px
		overflow: hidden
		font-family: $Book
		font-size: 24px
		color: #000
		&::after
			content: ''
			clear: both
			display: block
	.cart-item__left
		width: 140px
		margin-right: 30px
		float: left
	.cart-image
		width: 130px
		height: 130px
		border: 5px solid $square
		margin-bottom: 35px
		img
			width: 100%
	.cart-item__right
		float: right
		width: 450px
	.cart-title
		font-size: 24px
		font-family: $Book
		color: #000
		margin-bottom: 10px
	.cart-details
		div
			display: inline-block
			vertical-align: top
			margin-right: 15px
			&:last-child
				margin-right: 0	
			.cart-color__square
				margin-right: 0
	.cart-color__square
		width: 30px
		height: 30px
		background: #95989A
		margin-right: 5px
	.cart-product__minus,
	.cart-product__plus
		border: 2px solid $accent
		width: 30px
		height: 30px
		position: relative
		cursor: pointer
	.cart-product__symbol
		position: absolute
		top: 50%
		margin-top: -23px
		left: 50%
		margin-left: -4px
	.cart-product__plus
		.cart-product__symbol
			margin-top: -20px
			margin-left: -6px
	.cart-remove
		position: relative
		margin-top: -5px
		cursor: pointer
	.cart-remove__icon
		width: 30px
		height: 30px
		display: inline-block
		vertical-align: top
	.cart-remove__text
		display: inline-block
		vertical-align: middle
	.cart-paragraph
		font-family: $Demi
		font-size: 24px
		color: #000
	.cart-sale
		font-size: 24px
		font-family: $Demi
		color: $accent
	.cart-buttons
		font-size: 24px
		font-family: $Book
		margin-top: 30px
		a
			color: #fff
		.cart-button__next,
		.cart-button__checkout
			width: 260px
			text-align: center
			margin-right: 100px
			background: $accent
			display: inline-block
		.cart-button__checkout
			margin-right: 0
			background: $square

section.checkout
	padding: 66px 100px 66px 66px
	h3
		color: $accent
		margin: 10px 0
	.checkout-content
		width: 860px
		&::after
			content: ''
			clear: both
			display: block
	.checkount-content__left,
	.checkout-content__right
		width: 400px
	.checkount-content__left
		float: left
		margin-right: 60px
	.checkout-content__right
		float: right
		background: #F8F8F8
		padding: 40px 75px 40px 30px

form#checkout
	input[type='text']
		width: 400px
		height: 50px
		margin-bottom: 15px
		display: block
		padding-left: 20px
		outline: none
		font-size: 20px
		font-family: $Book
		color: #000
		@include placeholder
			font-size: 20px
			font-family: $Book
			color: #000
	.radio
		label
			font-size: 24px
			font-family: $Book
			color: #000
			padding-left: 20px
			cursor: pointer
		.radio-block__one,
		.radio-block__two
			width: 30px
			height: 30px
			background: #fff
			display: inline-block
			cursor: pointer
			border: 2px solid #95989A
		input[type='radio']
			display: none
	.radio-paragraph
		font-size: 24px
		font-family: $Book
		color: #000
.checkout-total
	.checkount-total__products,
	.checkout-total__price
		font-size: 24px
		font-family: $Demi
		color: #000
		line-height: 1.3
	.checkout-total__price
		padding-bottom: 20px
	.checkout-right__buttons
		text-align: center
	.checkout-right__button,
	.checkout-button__two
		width: 300px
		height: 50px
		background: $accent
		color: #fff
		font-size: 24px
		font-family: $Book
	.checkout-button__two
		margin-top: 22px
		background: $square
	.checkout-right__paragraph
		







@import "media" // Всегда в конце
